<footer>
  <div class="container-fluid footer">
    <h2>NewsLite</h2>
    <div class="row">
      <div class=" footer-col col-lg-4">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
      </div>
      <div class="footer-col col-lg-4">
          <h4>Links</h4>
          <ul class="footer-link">
              <li> <a href="https://newsapi.org/">NewsApi</a></li>
              <li> <a href="https://www.npmjs.com/package/stock-alert">Stock</a></li>
              <li> <a href="https://www.npmjs.com/package/covid19-api">Covid-api</a></li>
          </ul>
      </div>
      <div class="footer-col col-lg-4">
          <h4>Follow us:</h4>
          <h6> <a href="#"><i class="fab fa-instagram"></i></a> <a href="#"><i class="fab fa-twitter"></i></a> <a href="#"><i class="fab fa-facebook"></i></a>  </h6>
          <hr>
          <p>No Copyright.</p>
      </div>
    </div>
  </div>
  <script src="index.js" charset="utf-8"></script>
</footer>
</body>

</html>
