<img class="corona-img"src="images/1.jpeg" alt="">
<div class="covid-update">
  <h5>Covid-update</h5>
    <p>Cases: <%=covidData.cases%></p>
    <p>Recovered:  <%=covidData.recovered%></p>
    <p>Death:  <%=covidData.deaths%></p>
</div>
