
.navbar{
  padding: 0.5rem 4rem;
  background-color: #0275d8;
}
.navbar-brand{
  font-size: 4rem;
  font-family: 'Ceviche One',cursive;
    color:#fff;
}
.top-heading{
  font-family: 'Permanent Marker', cursive;
  color:#0275d8;
}
.nav-link{
  color:#fff;
}
.corona-img{
  z-index: 2;
  height: 4rem;
  width: 4rem;
  position: fixed;
  right:1rem;
  top:20rem;
  cursor: pointer;
}
.corona-img:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: 1;
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
.home-card{
  margin: 4rem;
  height: 8rem;
  transition: height 0.5s;
}

.home-card h5{
  font-size: 2rem;
  color:#fff;
}
.home-card a{
  color:#fff;
}
.home-card img{
  opacity: 0.6;
}
.card img{
  height: 100%;
}
.footer{
  margin-top: 2rem;
  padding: 1rem 4rem;
  background-color: #0275d8;
  color:#fff;
}
hr{
  background-color: #0275d8;
}
.footer h2{
  font-family: 'Ceviche One',cursive;
  font-size: 3rem;
}
.footer-col{
  padding: 1rem 2rem;
}
.footer-link li{
  list-style: none;
}
.fab{
  font-size:1.5rem;
  margin-right: 1rem;
}
.footer a{
  color:#fff;
}
.main-row{
  margin-top: 2rem;
  padding-left: 1rem;
}
.news-card{
  width:22em;
  padding: 1rem;
  line-height: 1;
  margin-right: 1rem;
  border-color: #0275d8;
}
.covid-update{
  height:10rem;
  width: 13rem;
  position: fixed;
  right: 1rem;
  top:24.5rem;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border: solid;
  border-width: thin;
  display: none;
  z-index: 2;
  background-color: #fff;
}
.covid-update h5{
  background-color: #0275d8;
  color:#fff;
  text-align: center;
}
.covid-update p{
  padding-left: 10px;
}
